.main {
  width: 100%;
  height: auto;
  display: flex;
  direction: rtl;
}

.dashboard{
width: 20%;
}

.content {
  width: 70%;
  border-radius: 16px;
  text-align: center;
  font-size: 19px;
  margin-right: 50px;
  margin-top: 20px;
}

.sidebar {
  width: 200px;
  height: 280;
  border: 1px solid rgb(243, 237, 250);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
  font-size: 22px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  margin: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
  align-items: left;
  padding-right: 10px;
  font-size: 15px;
}

.sidebar a:hover {
  background-color: rgb(167, 148, 188);
}

.sidebar a:focus {
  outline: none;
}

.user {
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(243, 237, 250);
  padding-bottom: 10px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


.sidebar a {
  display: block;
  text-decoration: none;
  color: #333;
  margin: 10px 0;
  text-align: center;
}

.sidebar a:hover {
  background-color: rgb(167, 148, 188);
}

.sidebar a:focus {
  outline: none;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 10px #ecebe9;
}

.product-table th {
  font-size: 25px;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: center;
}

.product-table tr {
  border: 1px solid #ddd;
}

.product-table img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}

.btn-edit,
.btn-delete {
  background-color: #f4f4f4;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  background-color: rgb(167, 148, 188);
  border: 1px solid rgb(167, 148, 188);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
}

.btn-delete {
  background-color: rgb(167, 148, 188);
  border: 1px solid rgb(167, 148, 188);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
  direction: rtl;
}

.product-description {
  font-size: 16px;
  color: #6c757d;
}

.h{
  width: 700px;
}