body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
}

.sidebar {
  width: 150px;
  background-color: rgb(232, 240, 254);
  padding: 20px;
  height: 100vh;
  font-size: 18px;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #333;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.product-table {
  width: 755px;
  border-collapse: collapse;
}

.product-table th {
  font-size: 25px;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: center;
}

.product-table tr {
  border: 1px solid #ddd;
}

.product-table img {
  width: 200px;
  height: 200px;

}

.btn-edit,
.btn-delete {
  background-color: #f4f4f4;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  background-color: #26adf8;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
}

.btn-delete {
  background-color: #26adf8;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
}