.product-detailss {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.product-details-imagee {
    max-width: 30%;
    border-radius: 16px;
    margin-right: 20px;
}

.product-details-infoo {
    width: 50%;
    direction: rtl;
}

.title {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    margin-right: 50px;
}

.product-details-infoo h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-details-infoo p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.product-details-infoo h2 {
    font-size: 22px;
    color: red;
    margin-right: 50px;
}

.add-to-cart-form {
    margin-top: 20px;
}

.add-to-cart-form label {
    font-size: 16px;
    margin-right: 10px;
}

.add-to-cart-form input[type="number"] {
    width: 50px;
    margin-right: 80px;
    padding: 5px;
    font-size: 16px;
}

.add-to-cart-form button {
    width: 250px;
    height: 50px;
    background-color: rgb(167, 148, 188);
    color: #323232;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 470px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 10px;
}

.add-to-cart-form button:hover {
    background-color: rgb(167, 148, 188);
}

.hii {
    width: 93%;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 10px #ecebe9;
}

