body {
  margin: 0;
}

.header {
  width: 100%;
}

.main {
  width: 100%;
  height: 600px;
  display: flex;
  direction: rtl;
}

.sidebar {
  width: 200px;
  height: auto;
  border: 1px solid rgb(243, 237, 250);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
  font-size: 18px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  margin: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
  align-items: left;
  padding-right: 10px;
  font-size: 15px;
}

.sidebar a:hover {
  background-color: rgb(167, 148, 188);
}

.sidebar a:focus {
  outline: none;
}

.user {
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(243, 237, 250);
  padding-bottom: 10px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.content {
  padding: 20px;
}

.passwordForm {
  width: 400px;
  height: auto;
  box-shadow: 0px 0px 20px 10px #ecebe9;
  border-radius: 10px;
  padding: 50px;
  margin-right: 200px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  font-size: 20px;
}

.form-group input {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 14px;
}


.btn {
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  margin: 10px;
  margin-top: 20px;
}

.btn-green {
  background-color: green;
  margin-right: 70px;
  
}

.btn-orange {
  background-color: orange;
}
