.main {
    width: 100%;
    height: auto;
    display: flex;
    direction: rtl;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.content {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    font-size: 19px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 16px;
}

.user-list {
    width: 100%;
    border-collapse: collapse;

}

.user-list thead {
    background-color: #A794BC;
    color: white;
}

.user-list th,
.user-list td {
    color: black;
    padding: 10px;
    text-align: center;
}

.user-list td:hover {
    cursor: pointer;
}

.user-list tr {
    border: 1px solid #ddd;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

p {
    font-size: 18px;
    color: gray;
}